/*** Reset - LH  ***/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, 
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, 
video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }                  
html { overflow-y:scroll; }
ul, ol, dl, li { margin:0; padding:0; list-style:none; }
a img, iframe { border:none; }
a, a:link { text-decoration:none; color:#257431; text-decoration:underline; }
a:visited { outline:none; color:#16a32b; }
a:hover { outline:none; text-decoration:none; }
form, fieldset { margin:0; padding:0; }
input[type="hidden"] { display:none; }
input, select { vertical-align:middle; }
button {  width:auto; overflow:visible; }
table { border:0; padding:0; border-spacing:0; }
/*** Reset END ***/

/*** Global ***/
.clear { clear:both; height:0;}
.left { float:left; }
.right { float:right; }
.hide { display:none; }
.show { display:block; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
* html .clearfix { height:1%; } /* Hides from IE-mac \*/
.clearfix { display:block; }
::-moz-selection{ background: #0472bc; color:#fff; text-shadow: none; }
::selection { background:#0472bc; color:#fff; text-shadow: none; } 
/*** Global END ***/


body { font-family:Verdana, Tohoma, Ariel; font-size:11px; color:#707070; background:#257431; min-width: 1042px;}
.bgTopbar { background:#fff url("images/bg-topbar.png") repeat-x; }
.mainBg {  background: url("images/bg.png") center top no-repeat; min-height:500px; min-width: 1042px; }
.mainWrapper { width:1000px; margin:auto; }

/*** Header ***/
.topBar { height:99px; padding-top:1px; }
.topBar .siteName { float:left; color:#fff; font-size:36px; font-family:Tahoma, Verdana; text-shadow: 1px 1px 0px #000; margin-left:5px; margin-top:14px; line-height:50px; width:600px; height:50px; overflow:hidden; }
.topBar .siteTr { float:right; width:380px; }
.loggedIn { margin-top:5px; font-size:11px; color:#fff; text-align:right; padding-right:8px; }
.loggedIn a { color:#fff; }
.search { width:177px; height:25px; background:url("images/input-search.png") no-repeat; margin-top:8px; margin-left:65px; float:right; }
.search input { background:transparent; width:177px; height:25px; color:#636363; border:0; padding-left:10px; margin-top:-1px;  }
/*** Top Nav ***/
.nav { font-size:15px; font-family:Tahoma, Verdana; text-align:center; line-height:25px; margin-top:12px; margin-left:14px; }
.nav a { display:block; float:left; width:117px; height:25px; overflow:hidden; background:url("images/nav-item.png") no-repeat; margin-left:2px; margin-right:2px; color:#fff; text-decoration:none; }
.nav a:hover { background:url("images/nav-item.png") 0px -25px no-repeat; color:#257431; }
.nav .selected { background:url("images/nav-item.png") 0px -25px no-repeat; color:#257431; }
#home .navHome { background:url("images/nav-item.png") 0px -25px no-repeat; color:#257431; }
#products .navProducts { background:url("images/nav-item.png") 0px -25px no-repeat; color:#257431; }
#cart .navCart { background:url("images/nav-item.png") 0px -25px no-repeat; color:#257431; }
#account .navAccount { background:url("images/nav-item.png") 0px -25px no-repeat; color:#257431; }
#gift .navGift { background:url("images/nav-item.png") 0px -25px no-repeat; color:#257431; }
#register .navRegister { background:url("images/nav-item.png") 0px -25px no-repeat; color:#257431; }
#news .navNews { background:url("images/nav-item.png") 0px -25px no-repeat; color:#257431; }

/*** Top Nav Product Menu ***/
#productList { margin-left:137px; position:absolute; z-index:3; display:none; font-size:15px; font-family:Tahoma, Verdana; width:220px; margin-top:-2px; }
#productList .menuTop { width:220px; height:6px; background:url("images/menu-top.png"); }
#productList .menuBottom { width:220px; height:13px; background:url("images/menu-bottom.png"); }
#productList .menuWrap { width:196px; padding:8px; padding-right:16px; background:url("images/menu-bg.png") repeat-y; }
#productList .menuWrap a { display:block; padding-top:5px; padding-bottom:5px; padding-left:20px; text-decoration:none; color:#257431; }
#productList .menuWrap a:hover { background:#e0e0e0; -moz-border-radius:5px; -webkit-border-radius:5px; }
#productList .menuWrap .sep { background:#e8e8e8; height:1px; margin-top:1px; margin-bottom:1px; }

/*** Footer ***/
.footer { background:#e0e0e0; min-width: 1042px;}
.bottomNav { width:1000px; height:144px; margin:auto; }
.bottomNav .bottomNavArea { float:left; width:330px; }
.bottomNav .bottomNavAreaLine { float:left; width:2px; height:84px; margin-top:30px; background:#c9c9c9; }
.bottomNav .navTitle { font-family:Tahoma, Verdana; color:#6d6d6d; font-size:15px; text-shadow: 1px 1px 0px #fff; margin-top:20px; margin-left:20px; margin-bottom:10px; }
.bottomNav a { float:left; width:130px; display:block; color:#6d6d6d; height:15px; line-height:15px; font-size:10px; text-decoration:none; margin-left:25px; }
.bottomNav a:hover { text-decoration:underline; }
.facebook { background: url("images/facebook.png") no-repeat; padding-left:20px; margin-bottom:4px; }
.twitter { background: url("images/twitter.png") no-repeat; padding-left:20px; margin-bottom:4px; }
.youtube { background: url("images/youtube.png") no-repeat; padding-left:20px; margin-bottom:4px; }
.linkedin { background: url("images/linkedin.png") no-repeat; padding-left:20px; margin-bottom:4px; }


/*** Body ***/
.siteBody { padding:20px; }
.pageTitle { font-family:Tahoma, Verdana; color:#257431; font-size:18px; padding-bottom:3px; border-bottom:1px solid #c9c9c9; margin-bottom:10px;  }
.pageTitleSmall { font-family:Tahoma, Verdana; color:#555555; font-size:13px; font-weight:bold; padding-bottom:3px; border-bottom:1px solid #c9c9c9; margin-bottom:10px; }
.pageTitleSmall2 { font-family:Tahoma, Verdana; color:#555555; font-size:13px; font-weight:bold; padding-bottom:3px; margin-bottom:10px; }

/*** Category|Product Pages ***/
.totalRecords {  }

/*** Forms ***/
select { font-size:11px; color:#707070; }
input { font-size:11px; color:#707070; }

/*** Sorting ***/
.sortBy { margin-top:-35px; float:right; width:380px; }
.sortBy div { float:left; padding:2px; }
.sortBy select { margin-top:-2px; }

/*** Products ***/
.productWrap { margin:10px; margin-right:5px; float:left; width:300px; height:140px; line-height:15px; font-size:10px; border:1px solid #fff; }
.productWrap:hover { border: 1px dashed #cdcdcd; }
.productImage { margin:3px; float:left; display:block; width:75px; height:75px; overflow:hidden; border:1px solid #cdcdcd; }
.productImage img { width:75px; height:75px; }
.productInfo { margin:3px; float:left; display:block; width:200px; }
.productInfo .title { font-weight:bold; display:block; line-height:18px; height:18px; font-size:11px; }
.addCart { text-indent:200px; border:0; width:94px; height:22px; overflow:hidden; background: url("images/add-cart.png"); cursor:pointer;}
.addCart:hover { background: url("images/add-cart.png") 0px -22px; }
.giftReg { height:83px; }

.featuredTitle { margin-top:50px; margin-bottom:1px; }
.featured { padding:10px; background: url("images/bg-grad.png") repeat-x; }
.featuredWrap { margin:5px; float:left; width:300px; height:75px; line-height:15px; font-size:10px; }
.featuredWrap .productImage { border:1px solid #257431; }
.productInfo { margin:3px; float:left; display:block; width:200px; }
.productInfo span { font-weight:bold; display:block; line-height:18px; height:18px; font-size:11px; color:#257431; }

.searchTerm { font-size:14px; margin-bottom:10px; }
.searchTerm b {  color:#257431; }

/*** Product Details ***/
.productImages { width:410px; margin:10px; float:left; }
.smallImages img { width:75px; height:75px; margin:0; padding:0px; cursor:pointer; }
.productInformation { width:500px; float:left; margin-top:20px; margin-left:10px; line-height:15px;  }
.productInformation .productTitle {  font-size:20px; font-family:Tahoma, Verdana; font-weight:bold; margin-bottom:10px; color:#257431; }
.productInformation .productTitle b { color:red; }
.titleBar { background:#095c95; padding:6px; margin-left:10px; color:#89bbc3; }
.titleBar a { color:#89bbc3; text-decoration:none; }
.titleBar a:hover { color:#fff; text-decoration:underline; }
.onProductPage { margin-left:10px; }
.onProductPage .featuredWrap { margin-top:-5px;}
.sale { color:red; }
.priceWrap { font-size:14px; font-weight:bold; line-height:20px; margin-bottom:14px; }
.setupFee { font-weight:normal; }
.quanity { border:1px solid #cdcdcd; width:26px; height:18px; text-align:center; }
.customFields { padding:4px; padding-left:0px; text-align:left; }
.customFields input { width:180px; height:16px; border:1px solid #959595; color:#464646; background:#eee;-moz-border-radius:5px; -webkit-border-radius:5px; padding-left:2px; }
.customFields input:focus { background:#fff; color:#0a6fb1; border:1px solid #0a6fb1; }
.customFields select { width:182px; padding:2px; line-height:20px; border:1px solid #959595; color:#464646; background:#eee; text-transform:capitalize;-moz-border-radius:5px; -webkit-border-radius:5px; }
.customFields option { text-transform:capitalize; margin-bottom:3px; }
.customFields input[type="checkbox"] { width:15px; height:15px; }
.categoryTree { margin-left:10px; line-height:16px; }
.categoryTree a { color:#707070; }
/*** Tags ***/
.tags { border:1px solid #eee; margin-top:25px; margin-bottom:10px; }
.tagHead { background:#eee; padding:4px; }
.tagBody { padding:8px; }
.tagBody a { font-size:10px; }
.tagWrap { padding:20px; }
/*** Reviews ***/
iframe { margin-top:20px; height:400px; }
.reviewTd { border-bottom:1px dashed #cdcdcd; padding-top:5px; }
.reviewAtt { margin-top:8px; margin-bottom:3px; }
.formreview textarea { border:1px solid #959595; color:#464646; background:#eee;-moz-border-radius:5px; -webkit-border-radius:5px; padding-left:2px; margin-top:6px; }
.formreview textarea:focus { background:#fff; color:#0a6fb1; border:1px solid #0a6fb1; }
.dottedLine { border-bottom:1px dashed #cdcdcd; height:1px; margin-bottom:12px; margin-top:6px; }
.success { color:#00a651; height:20px; line-height:20px; font-weight:bold; }

/*** History ***/
#viewHistory { margin-top:6px; width:380px; margin-left:16px; }
#viewHistory a { display:block; float:left; width:75px; height:75px; margin-right:8px; margin-top:4px; overflow:hidden; border:1px solid #9dafbe; }
#viewHistory a:hover { border:1px solid #fff; }
#viewHistory a img { width:75px; }

/*** Cart ***/  
.cartTbl { border-spacing:1px; width:100%; }
.cartTbl td { padding:4px; text-align:center; background:#eee; }
.cartTbl .headerTbl td { font-weight:bold; color:#252525; background:#ccc; }
.cartTbl .productTbl { width:350px; text-align:left; }
.cartTbl .productTbl div { margin-top:4px; }
.cartTbl .whiteTbl { background:#fff;}
.cartTbl .alignRight { text-align:right; }
.cartButtons { width:100%; margin-top:15px; }
.cartButtons td { width:33%; text-align:center; }
.btnAdd { text-indent:200px; border:0; width:53px; height:18px; overflow:hidden; background: url("images/btn-add.png"); cursor:pointer; margin-left:5px; }
.btnRemove { text-indent:200px; border:0; width:95px; height:20px; overflow:hidden; background: url("images/btn-remove.png"); cursor:pointer; }
.btnRemoveCoupon { text-indent:200px; border:0; width:95px; height:20px; overflow:hidden; background: url("images/btn-remove-coupon.png"); cursor:pointer; }
.btnContinue { text-indent:200px; border:0; width:179px; height:28px; overflow:hidden; background: url("images/btn-continue.png"); cursor:pointer; }
.btnUpdate { text-indent:200px; border:0; width:179px; height:28px; overflow:hidden; background: url("images/btn-update.png"); cursor:pointer; }
.btnCheckout { text-indent:200px; border:0; width:179px; height:28px; overflow:hidden; background: url("images/btn-checkout.png"); cursor:pointer; }
.total { font-size:16px; font-weight:bold; }
.savingText { float:left; width:750px; }
.savingTextBtn { float:left; width:200px; }
.smallInput { border:1px solid #cdcdcd; width:150px; height:18px; }
.btnSaveCart { text-indent:200px; border:0; width:139px; height:28px; overflow:hidden; background: url("images/btn-savecart.png"); cursor:pointer; }
.btnEmailCart { text-indent:200px; border:0; width:139px; height:28px; overflow:hidden; background: url("images/btn-email.png"); cursor:pointer; }
.cartMessages { font-weight:bold; margin-bottom:10px; }
.saveArea { width:1000px; margin-bottom:12px; }
.line { background:#c9c9c9; height:1px; margin-bottom:10px; width:925px; }
.couponTbl td { padding:10px; background:#f5e8a2;  }
.coupon { font-weight:bold; color:#000; border:2px dashed #d68c35; min-width:179px }

/*** Checkout ***/
.cartTblCheckout { border-spacing:1px; width:100%; }
.cartTblCheckout td { padding:4px; background:#eee; }
.cartTblCheckout .headerTbl td { font-weight:bold; color:#252525; background:#ccc; }
.alignLeft { text-align:left; }
.alignRight { text-align:right; }
.alignCenter { text-align:center; }
.cartTblCheckout .whiteTbl { background:#fff;}
.checkoutCol { float:left; width:300px; margin-right:15px; }
.receiptTotals { text-align:right; }

/*** Forms ***/
.formRow { margin-bottom:10px; }
.formRow label { display:block; float:left; width:100px; height:20px; text-align:right; line-height:20px; }
.formRow .formInput { float:left;  width:184px; height:20px; padding-left:4px; line-height:20px; }
.formRow .formInput input { width:180px; height:16px; border:1px solid #959595; color:#464646; background:#eee;-moz-border-radius:5px; -webkit-border-radius:5px; padding-left:2px; }
.formRow .formInput input:focus { background:#fff; color:#0a6fb1; border:1px solid #0a6fb1; }
.formRow textarea:focus { background:#fff; color:#0a6fb1; border:1px solid #0a6fb1; }
.formRow .formInput select { width:182px; padding:2px; line-height:20px; border:1px solid #959595; color:#464646; background:#eee; text-transform:capitalize;-moz-border-radius:5px; -webkit-border-radius:5px; }
.formRow .formInput option { text-transform:capitalize; margin-bottom:3px; }
.formRow .formError { float:left; color:red; height:20px; width:10px; text-align:center; line-height:20px;}
.formRow .formError2 { margin-left:104px; color:red; height:15px; width:200px; text-align:center; line-height:15px; font-size:10px; text-align:left; }
.extraErrors { clear:both; font-size:10px; color:red; }
.formRow .formTextArea  { float:left; width:184px; height:100px; padding-left:4px; }
.formRow .formTextArea textarea { width:180px; height:100px; border:1px solid #959595; color:#464646; background:#eee;-moz-border-radius:5px; -webkit-border-radius:5px; }
.formRow .formTextArea textarea:focus { background:#fff; color:#0a6fb1; border:1px solid #0a6fb1; }
.formRow .formExp { float:left;  width:184px; height:20px; padding-left:4px; line-height:20px; }
.formRow .formExp select { width:83px; padding:2px; line-height:20px; border:1px solid #959595; color:#464646; background:#eee; text-transform:capitalize;-moz-border-radius:5px; -webkit-border-radius:5px; }
.formRow .formExp option { text-transform:capitalize; margin-bottom:3px; }
.formRow .cvv { float:left;  width:54px; height:20px; padding-left:4px; line-height:20px; }
.formRow .cvv input { width:50px; height:16px; border:1px solid #959595; color:#464646; background:#eee;-moz-border-radius:5px; -webkit-border-radius:5px; }
.formRow .cvv input:focus { background:#fff; color:#0a6fb1; border:1px solid #0a6fb1; }
.btnComplete { margin-left:104px; margin-top:15px; text-indent:200px; border:0; width:179px; height:28px; overflow:hidden; background: url("images/btn-complete.png"); cursor:pointer; }
#MainContent_ValidationSummary1 { margin-bottom:12px; padding-left:55px; padding-top:20px; background: url("images/errors-title.png") no-repeat; }
#MainContent_ValidationSummary1 ul {  }
#MainContent_ValidationSummary1 ul li { list-style-type:disc; line-height:16px; float:left;  width:200px; margin-left:20px;color:red; }

/*** Login / Forgot Password / Gift Registry ***/
.loginWrap { width:450px; margin:auto; }
.loginElements { margin-left:104px; }
.loginElements div { float:left; margin-right:5px; line-height:28px; height:28px; }
.btnLogin { text-indent:200px; border:0; width:139px; height:28px; overflow:hidden; background: url("images/btn-login.png"); cursor:pointer; }
.btnSubmit { text-indent:200px; border:0; width:139px; height:28px; overflow:hidden; background: url("images/btn-submit.png"); cursor:pointer; }
.error { color:red; line-height:20px; }
.notFound { font-weight:bold; padding:20px; }
.oneRowForm { margin-left:100px; }
.oneRowForm .error { margin-left:190px; margin-bottom:10px; margin-top:-20px; }

/*** My Account ***/
.accountNav { float:left; width:200px; }
.accountNav a { display:block; font-weight:bold; font-size:11px; color:#555555; width:200px; height:24px; line-height:24px; text-indent:8px; text-decoration:none; background:#e0e0e0; margin-bottom:1px; }
.accountNav a:hover { background:#eee; color:#252525; }
.accountNav .topEdge { -moz-border-radius-topleft:10px; -webkit-border-top-left-radius:10px; -moz-border-radius-topright:10px; -webkit-border-top-right-radius:10px; }
.accountNav .bottomEdge { -moz-border-radius-bottomleft:10px; -webkit-border-top-bottom-radius:10px; -moz-border-radius-bottomright:10px; -webkit-border-bottom-right-radius:10px; }
.accountWrap { float:left; width:700px; padding-left:60px; }
.formSubmit { float:left; padding-left:5px; }
.empty { padding:20px; font-weight:bold; }
#ContentPlaceHolder1_VisibilityRadioButtonList td { height:25px; line-height:25px; padding:2px;}
#ContentPlaceHolder1_VisibilityRadioButtonList td input { margin-top:-4px; }
.accountForms .formRow label { width:180px; }
.formRow { float:left; width:400px; }
.gridview { border-spacing:1px; width:100%;margin-top:20px; }
.gridview th { font-size:10px; padding:5px; text-align:left; background:#e1e1e1; border-left:1px solid #fff; }
.gridview td { font-size:10px; padding:5px; text-align:left; border-top:1px solid #fff;  }
.ordersAddress { width:200px; }
.gridRowSelected {  box-shadow: 0px 0px 6px #023a5e;-webkit-box-shadow: 0px 0px 6px #023a5e;-moz-box-shadow: 0px 0px 6px #023a5e; background:#d4ebfb; border:0px; color:#023a5e; }
.gridviewDetails { box-shadow: 0px 0px 6px #023a5e;-webkit-box-shadow: 0px 0px 6px #023a5e;-moz-box-shadow: 0px 0px 6px #023a5e; background:#d4ebfb; border:0px; color:#023a5e; border:1px solid #e1e1e1; }
.gridviewDetails th { font-size:10px; padding:5px; text-align:left; background:#023a5e; border-left:1px solid #fff; color:#fff; }
.gridviewDetails td { border-left:1px solid #fff; }
.gridRowAlt { background:#eee; }
/*** Gift reg ***/
.giftRow div { border-bottom: 1px dashed #cdcdcd; padding:4px; height:25px; line-height:25px; }
.giftRow .itemName { float:left; width:500px; }
.giftRow .removeGift { float:left; }

#facebox {
display:none;
width:400px;
border:10px solid #666;
border:10px solid rgba(82, 82, 82, 0.698);
-moz-border-radius:8px;
-webkit-border-radius:8px;
}

#facebox div {
padding:10px;
background-color:#fff;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif
}

#facebox h2 {
margin:-11px;
margin-bottom:0px;
color:#fff;
background-color:#444;
padding:5px 10px;
border:1px solid #222;
font-size:20px;
}


figure {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 20px 20px 0;
}
figcaption {
  position: absolute;
  background: black;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}
figure:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}

figure:hover:before {
  opacity: 0;
}

.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }
/* Pill style */
#scrollUp {
	bottom: 20px;
	right: 20px;
	background: #555;
	color: #fff;
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: none;
	opacity: .9;
	padding: 10px 20px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-transition: background 200ms linear;
	-moz-transition: background 200ms linear;
	transition: background 200ms linear;
	-webkit-backface-visibility: hidden;
}
	#scrollUp:hover {
		background: #000;
	}


