/*** Global ***/
.clear { clear:both; height:0;}
.left { float:left; }
.right { float:right; }
.hide { display:none; }
.show { display:block; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
* html .clearfix { height:1%; } /* Hides from IE-mac \*/
.clearfix { display:block; }
::-moz-selection{ background: #0472bc; color:#fff; text-shadow: none; }
::selection { background:#0472bc; color:#fff; text-shadow: none; } 

/*** typography ***/
h1 { font-size: 26px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 120% }
h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }
span h2 { font-style: italic; display:block; margin-bottom:20px;font-size: 18px; }

/*** Global END ***/
body { font-family: Georgia; color: #444; font-size:14px; color:#707070; background:#eee; text-align:left; }
html { overflow-y:scroll; }
.logo { display:block; float:left; width:327px; height:93px; background:url("DynamicData/Content/Images/shoppingcartdotnet.png") no-repeat; }
.poweredBy { display:block; float:right; width:86px; height:41px; background:url("DynamicData/Content/Images/powerby.png") no-repeat; margin-top:20px; }
.adminWrap { margin:20px; padding:20px; background:#fff; box-shadow: 0px 0px 6px #cdcdcd;-webkit-box-shadow: 0px 0px 6px #cdcdcd;-moz-box-shadow: 0px 0px 6px #cdcdcd;-moz-border-radius:10px; -webkit-border-radius:10px; }
.logged { padding:6px; background:#eee; margin-bottom:12px; margin-top:8px; }
.back { display:block; margin-bottom:10px; }
.title {  display:block; margin-bottom:30px; margin-top:20px; border-bottom:1px dashed #ccc; padding-bottom:4px; font-style:italic; font-weight:bold; font-size:18px; }
.buildNum { margin-top:30px; text-align:right; }
.maxScroll { overflow: auto; padding-bottom:5px; }
.chartWrap { width:900px; margin:auto; }
.content { width: 96%; overflow-x: scroll; margin-left: auto;
	margin-right: auto; }

.uploadTbl { width:500px; margin:auto; }
.uploadTbl td { padding:3px; border:0px;}
.uploadTbl input { padding:3px; border:1px solid #cdcdcd; background:#eee; width:190px; }
.uploadTbl input:focus { padding:3px; border:1px solid #000; background:#fff; }


/*Menu*/
* {
	margin: 0;
	padding: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 96%;
}

/* common and top level styles */
#nav span {
	display: none;
}
#nav, #nav ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#nav {
	background-color: #F5F5F5;
	border-bottom: 5px solid #333333;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	position: relative;
	width: 98%;
}
#nav ul.subs {
	background-color: #FFFFFF;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	color: #333333;
	display: none;
	left: 0;
	padding: 2%;
	position: absolute;
	top: 54px;
	width: 96%;
}
#nav > li {
	border-bottom: 5px solid transparent;
	float: left;
	margin-bottom: -5px;
	text-align: left;
	-moz-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
}
#nav li a {
	display: block;
	text-decoration: none;
	-moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	-ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	-o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	-webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	white-space: normal;
}
#nav > li > a {
	color: #333333;
	display: block;
	font-size: 1.3em;
	line-height: 49px;
	padding: 0 15px;
	text-transform: uppercase;
}
#nav > li:hover > a, #nav > a:hover {
	background-color: #F55856;
	color: #FFFFFF;
}
#nav li.active > a {
	background-color: #333333;
	color: #FFFFFF;
}

/* submenu */
#nav li:hover ul.subs {
	display: block;
}
#nav ul.subs > li {
	display: inline-block;
	float: none;
	padding: 10px 1%;
	vertical-align: top;
	width: 33%;
}
#nav ul.subs > li a {
	color: #777777;
	line-height: 20px;
}
#nav ul li a:hover {
	color: #F55856;
}
#nav ul.subs > li > a {
	font-size: 1.3em;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#nav ul.subs > li li {
	float: none;
	padding-left: 8px;
	-moz-transition: padding 150ms ease-out 0s;
	-ms-transition: padding 150ms ease-out 0s;
	-o-transition: padding 150ms ease-out 0s;
	-webkit-transition: padding 150ms ease-out 0s;
	transition: padding 150ms ease-out 0s;
}
#nav ul.subs > li li:hover {
	padding-left: 15px;
}

/* responsive rules */
@media all and (max-width : 980px) {
	#nav > li {
		float: none;
		border-bottom: 0;
		margin-bottom: 0;
	}
	#nav ul.subs {
		position: relative;
		top: 0;
	}
	#nav li:hover ul.subs {
		display: none;
	}
	#nav li #s1:target + ul.subs,
	#nav li #s2:target + ul.subs {
		display: block;
	}

	#nav ul.subs > li {
		display: block;
		width: auto;
	}
}



/*	Global classes	*/
.DDMainHeader
{
	font: small-caps bold 1.6em Trebuchet MS, Arial, sans-serif;
	color:#888;
	padding-bottom: 12px;
	border-bottom: 1px dotted #bbbbbb;
}

.DDSubHeader
{
	margin-bottom: 10px;
	font:1.2em Trebuchet MS, Arial, sans-serif;
	color: #888;
}

.DD 
{
	padding: 0px 8px;
	font: .75em Tahoma, Arial, sans-serif;
	color: #666;
}

.DDLightHeader
{
	font-weight: bold;
	background-color: #F7F7FF;
} 

.DDTextBox, .DDDropDown
{
	color: #666;
	font: .95em Tahoma, Arial, Sans-Serif;
	border: solid 1px #dcdcdc;
	background-color: #FEFEFE;
}

.DDDropDown
{
	padding:2px;
}

.DDFilter
{
	font: .95em Tahoma, Arial, Sans-serif;
	color:#666;
}

.DDControl
{
	padding: 0px;
	font: .95em Tahoma, Arial, Sans-Serif;
	color: #666;
}

.DDFloatLeft
{
	float:left;
}

.DDFloatRight
{
	float:right;
}

.DDFooter
{
	background-color: #dbddff;
}

.DDSelected
{
	background-color: #fdffb8;
}

div.DDNoItem
{
	color:Red;
	font-family:Trebuchet MS, Arial, sans-serif;
}

.DDValidator
{
	color:Red;
	font-family:Trebuchet MS, Arial, sans-serif;
}


/*	Navigation	*/

div.DDNavigation
{
	font:.75em Tahoma, Arial, Sans-Serif;
	position: relative;
	top: -28px;
	margin-bottom: -10px;
	padding: 0px 5px;
}

div.DDNavigation img
{
	position: relative;
	margin-top: 0em;
	padding: 0px 8px;
	border: none;
	background-color: #fff;
}
div.DDNavigation a
{
	color: #839ce7;
	text-decoration: none;
	background-color: #fff;
	padding-right: 8px;
	top: -.2em;
	left: .25em;
}
div.DDNavigation a:hover
{
	color: #000099;
	text-decoration: underline !important;
}


/*	Details VIEW/EDIT	*/
table.DDDetailsTable
{
	color: #666;
	background-color: #FCFDFE;
	border: 1px solid #dbddff;
	border-bottom-width: 3px;
}

table.DDDetailsTable a
{
	color:#718ABE;
	text-decoration: none;
	padding-right: 6px;
}

table.DDDetailsTable a:hover
{
	color: #000099;
	text-decoration: underline !important;
}

table.DDDetailsTable .td
{
	padding: 3px 6px;
	border: 1px solid #dbddff;
	border-bottom-style: dotted;
	font-size: .7em;
	font-family:Tahoma, Arial, Sans-Serif;
}


/*	DDGridView/DDListView	*/
table.DDGridView, table.DDListView
{
	width: 100%;
	color: #666;
	border:solid 1px #dbddff;
	font: .7em Tahoma, Arial, Sans-Serif;
}

table.DDGridView .th, table.DDGridView .td, table.DDListView .th, table.DDListView .td
{
	white-space: nowrap;
}

table.DDGridView .th, table.DDListView .th
{
	background: url(DynamicData/Content/Images/header_back.gif) repeat-x;
	line-height:1.3em;
	text-align: left;
	font-size: 1em;
	border:solid 1px #dbddff;
}

table.DDGridView .th a, table.DDListView .th a
{
	color: #666;
	text-decoration: none;
}

table.DDGridView .td, table.DDListView .td
{
	border: dotted 1px #dbddff;
	border-left-width:0px;
	border-right-width:0px;
	padding: 6px;
}

table.DDGridView .td a, table.DDListView .td a
{
	color: #718ABE;
	text-decoration: none;
	margin-right: 6px;
	
}

table.DDGridView .DDSelected a, table.DDListView .DDSelected a
{
	color: #718ABE;
	text-decoration: none;
	margin-right: 6px;
	
}

table.DDGridView .DDSelected a:hover, table.DDListView .DDSelected a:hover
{
	color: #000099;
	text-decoration: underline;
}

table.DDGridView .td a:hover, table.DDListView .td a:hover
{
	color: #000099;
	text-decoration: underline;
}

/*	DataPager	*/
div.DDPager
{
	padding: 0px 6px;
}


/* Bottom hyperlink design*/
div.DDBottomHyperLink
{	
	font: .75em Tahoma, Arial, Sans-Serif;
}
div.DDBottomHyperLink a
{
	color: #839ce7;
	text-decoration: none;
}
div.DDBottomHyperLink a:hover
{
	color: #000099;
	text-decoration: underline !important;
}
div.DDBottomHyperLink img
{
	padding-right: 5px;
	border: none;
}